@inherits LayoutComponentBase

<div class="page">

    <main>
        <div class="top-row px-4">
            <button class="menu-btn">&#9776;</button>
            <h1 class="title color-light">Zwerfafvalmonitor Breda</h1>
            <div class="update-info color-light">
                <span>Laatste update 04-06-2025 08:33</span>
                <button class="user-btn">👤</button>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
