@namespace TrashDashboard.Components.Layout
<div class="row">
    <div class="col-5 col-md-3 text-end">Op dit dashboard krijg je inzicht in zwerfafvalverwachtingen op basis van locatie en omgevingsfactoren. Voer een postcode, datum, temperatuur en tijd in. Klik op 'Toon voorspelling' om te zien hoeveel zwerfafval er verwacht wordt. De grafiek toont het verwachte aantal stuks afval per tijdstip van de dag. Aan de rechterkant zie je een weeroverzicht en een kaart van de stad met locaties waar voorspellingen relevant zijn.</div>
</div>

@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}