@page "/"
@rendermode InteractiveServer
@inject IJSRuntime JS

<PageTitle>Home</PageTitle>

<div class="container-fluid" style="height: 100vh;">
    <div class="row h-100">
        <!-- Linkerkant -->
        <div class="col-6 custom-left d-flex flex-column p-4">
            <div class="d-flex justify-content-end">
                <button class="btn color-light btn-light "
                onclick="alert('Op dit dashboard krijg je inzicht in zwerfafvalverwachtingen op basis van locatie en omgevingsfactoren. Voer een postcode, datum, temperatuur en tijd in. Klik op ‘Toon voorspelling’ om te zien hoeveel zwerfafval er verwacht wordt. De grafiek toont het verwachte aantal stuks afval per tijdstip van de dag. Aan de rechterkant zie je een weeroverzicht en een kaart van de stad met locaties waar voorspellingen relevant zijn.')">
                    Info
                </button>
            </div>

            <div class="row g-3">
                <div class="col-6">
                    <label for="postcode" class="form-label">Postcode</label>
                    <InputText id="postcode" class="form-control" @bind-Value="Postcode" placeholder="bv. 4811 ET" />
                </div>
                <div class="col-6">
                    <label for="datum" class="form-label">Datum</label>
                    <InputDate id="datum" class="form-control" @bind-Value="Datum" />
                </div>
                <div class="col-6">
                    <label for="temperatuur" class="form-label">Temperatuur</label>
                    <div class="input-group">
                        <InputText id="temperatuur" class="form-control" @bind-Value="Temperatuur"
                        placeholder="bv. 24" />
                        <span class="input-group-text">°C</span>
                    </div>
                </div>
                <div class="col-6">
                    <label for="tijd" class="form-label">Tijd</label>
                    <InputText id="tijd" class="form-control" @bind-Value="Tijd" placeholder="bv. 13:00" />
                </div>
            </div>


            <div class="mt-3 d-flex justify-content-center">
                <button class="btn color-light btn-light px-4" @onclick="ShowVoorspelling">Toon voorspelling</button>
            </div>
            <div class="col-6 bg-light d-flex align-items-center justify-content-center"></div>
            <canvas id="afvalChart" width="300" height="200"></canvas>
            <h4 class="mt-5 pt-2 pb-2 color-light rounded text-center btn-light">Ophaalprioriteit: gemiddeld</h4>
        </div>



        <!-- Rechterkant -->
        <div class="col-6 custom-right d-flex flex-column justify-content-center align-items-center">
            <h3 class="color-light">Weeroverzicht</h3>
            <canvas id="weerChart" width="300" height="200"></canvas>
            <h3 class="color-light mt-5">Kaart van Breda</h3>
            <div id="map"></div>

            @* <div id="mapContainer" style="width: 300px; height: 300px;"> *@
            @*     <LeafletMap Map="_map" /> *@
            @* </div>         *@
            <div class="mb-5">
                <RealTimeMap height="50vh" width="40vw" Parameters="@parameters"></RealTimeMap>
            </div>
        </div>
    </div>

</div>


@code {
    private string Postcode { get; set; } = "";
    private DateTime Datum { get; set; } = DateTime.Today;
    private string Temperatuur { get; set; } = "";
    private string Tijd { get; set; } = "";
    private Random random = new();
    private int[] afvalPerUur = new int[]
    {
        2, 4, 6, 3, 5, 7, 4, 6, 8, 10, 6, 3, 2
    };
    private int[] temperatuurData = new[] { 18, 20, 22, 19, 21, 23, 25, 24 };
    private int[] neerslagData = new[] { 5, 0, 10, 2, 7, 15, 3, 0 };

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("renderAfvalChart", afvalPerUur);
            await JS.InvokeVoidAsync("renderWeerChart", temperatuurData, neerslagData);
        }
    }

    RealTimeMap.LoadParameters parameters = new RealTimeMap.LoadParameters()
        {
            location = new RealTimeMap.Location()
            {
                latitude = 51.587533,
                longitude = 4.775072,
            },
            zoomLevel = 12
        };

private async Task ShowVoorspelling()
{
    for (int i = 0; i < afvalPerUur.Length; i++)
    {
        afvalPerUur[i] = random.Next(0, 21);
    }

    await JS.InvokeVoidAsync("renderAfvalChart", afvalPerUur);
}
}